h1{
    color:aquamarine;
    font-size:1.6 rem;
    
}
body{
    text-align:center;
    font-family: "'Courier New', Courier, monospace";
    background: #0f172a;
    color:white;
    height: 100vh;
    width: 100%;

   
}
button{
    padding: 15px ,25px;
    font-size: 18px;
    cursor:pointer;
    width:100%;
    
}
#clickbtn{
    background: red;
    color: green;
    
    position: relative;
    
    
}




