*{
    margin: 0;
    padding: 0;
    box-sizing:border-box
}



h1{
    color:aquamarine;
    margin-bottom: 15px;
    
}
body{
    text-align:center;
    font-family: "'Courier New', Courier, monospace";
    background: #0f172a;
    color:white;
    height: 100vh;
    width: 100%;

   
}
button{
    padding: 14px;
    font-size: 1.1rem;
    cursor:pointer;
    border:0cqmin
    background:#00ff88;

}
#clickbtn{

    color: green;
    
    position: relative;
    
    
}
.game{
    width: 90%;
    text-align: center;
    padding: 20px;
    background: #000080;
    border-radius: 12px;;
}
